
<title><%= title %></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!------ Include the above in your HEAD tag ---------->

<%- include('navbar') -%>
<br>
<div class="btn-toolbar">
    <button class="btn btn-primary">New Table</button>
    <!-- <button class="btn">Import</button> -->
    <!-- <button class="btn">Export</button> -->
</div>
<hr>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 36px;"></th>        	
          <th>#</th>
          <th>Table Name</th>
          <!-- <th>Table Size</th> -->
          <th>Record Count</th>
          <th>Last Update</th>
        </tr>
      </thead>
      <tbody>
      	<% for(var table of tables){ %>      	
        <tr>
          <td>
            <a href="#"><span class="oi oi-pencil"></span></a>
          </td>        	
          <td><%= table.table_id %></td>
          <td>
          	<a href="#">
          		<%= table.table_name %>
          	</a>          		
          </td>
          <!-- <td>-</td> -->
          <td><%= table.rows %></td>
          <td>-</td>
        </tr>
        <% } %>
      </tbody>
    </table>
</div>

<!-- Model -->
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text">Are you sure you want to delete the user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>